html {
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}


//max-width:1440px
.wrapper {
    max-width: 1440px;
}


$primary-color: #FFC87A;


.header {
    height: 200px;
    background-color: $primary-color;
    &__logo {
        height:100px;
        background-color: #fff;
    }
}