$primary-color: #FFC87A;
$text-color: #1A2B5F;

html {
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
}

body {
    font-family: "Poppins", sans-serif;
}

@mixin flex ($align: flex-start, $justify: flex-start, $wrap: nowrap, $dir: row) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-wrap: $wrap;
    flex-direction: $dir;
}

@mixin btn {
    padding: 0.8rem 2.5rem;
    display: inline-block;
    border: 1px solid currentColor;
    border-radius: 4rem;
}

.btn-primary {
    background-color: $primary-color;
    color: $text-color;
    padding: 1rem 2.5rem;
    border-radius: 4rem;
    cursor: pointer;
    font-size: 1.6rem;
    box-shadow: 0 10px 37px -5px $primary-color;
    &:hover {
        background-color: #f4ac47;
    }
}


//max-width:1440px, width: 1170px
.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}


.container {
    max-width: 1200px;
    padding: 0 2rem;
    margin: 0 auto;
}

// Logo
.logo {
    color: $text-color;
    font-size: 2.5rem;
    font-weight: 600;
    &__text {
        color: $primary-color
    }
}


// Header
.header {
    padding-top: 4rem;
    &__inner {
        @include flex(center, space-between);
    }
    &__menu {
        &-list {
            @include flex(center);
            list-style: none;
        }
        &-item {
            margin-left: 5rem;
            &:last-child {
                margin-left: 7rem;
            }
        }

        &-link {
            font-size: 1.6rem;
            color: $text-color;
            transition: color 0.25s linear, border 0.25s linear;
            &:hover {
                color: $primary-color;
            }
        }
        &--login {
            @include btn;
        }
    }
}


// Banner
.banner {
    padding: 15rem 0;
    max-width: 80rem;
    margin: 0 auto;
    text-align: center;
    &__title {
        font-size: 6rem;
        color: $text-color;
        margin-bottom: 3rem;
        font-weight: 700;
    }
    &__text {
        font-size: 1.8rem;
        font-weight: 300;
        color: #76809F;
        margin-bottom: 4rem;
    }
    &__item {
        display: inline-block;
        font-weight: 500;
    }
    &__explore {
        @include btn;
        color: $text-color;
        margin-right: 2rem;
        font-size: 1.6rem;
        &:hover {
            color: $primary-color;
        }
    }
}

// Category
.category {
    margin-bottom: 15rem;
    &__list {
        @include flex(stretch, space-between, wrap);
        list-style: none;
    }
    &__item {
        width: calc(25% - 22.5px);
        padding: 2.5rem;
        background-color: #fafafa;
        border-radius: 20px;
        $colorLocal: #F35E4A;
        box-shadow: 0 10px 35px $colorLocal;

    }
    &__image {
        border-radius: inherit;
        height: 23rem;
        width: 100%;
        object-fit: cover;
        margin-bottom: 4rem;

    }
    &__heading {
        font-size: 2rem;
        font-weight: 500;
    }
    &__adding {
        @include flex(center);
        color: rgb(161,168,189);
        font-size: 1.3rem;
    }
    &__text {
        margin-right: 1.5rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}